<div class="col-md-3" >
    <a href="/Message/SendMessage/" class="btn btn-primary btn-block mb-3">Yeni Mesaj</a>

    <div class="card">
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a href="/Message/Inbox/" class="nav-link">
                        <i class="fas fa-inbox"></i>  Gelen Mesajlar
                        <span class="badge bg-primary float-right">@ViewBag.Inbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Message/Sendbox/" class="nav-link">
                        <i class="far fa-envelope"></i>  Giden Mesajlar
                        <span class="badge bg-info float-right">@ViewBag.Sendbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Draft/DraftMessageList/" class="nav-link">
                        <i class="far fa-file-alt"></i>  Taslaklar
                        <span class="badge bg-success float-right">@ViewBag.Draft</span>
                        
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Message/TrashMessageList/" class="nav-link">
                        <i class="far fa-trash-alt"></i>  Silinenler
                        <span class="badge bg-warning float-right">@ViewBag.Delete</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Profile/Index/" class="nav-link">
                        <i class="fas fa-user"></i>  Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a href="Login/LogOut/" class="nav-link">
                        <i class="fas fa-power-off"></i>  Çıkış Yap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>